<div class="modal fade" tabindex="-1" role="dialog" id="download-unidade-especial">
    <div class="modal-dialog" role="document">
        <form method="post" action="/editor/download-unidade-especial" class="form-horizontal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Planilha de Cardápio de Unidade Especial</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Unidade Especial</label>
                        <div class="col-sm-6">
                            <select name="unit_special" class="form-control">
                                {% for ue in ue_dict %}
                                <option value="{{ ue.id }}">{{ ue.label }} ({{ ue.range }})</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer align-center">
                    <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-success btn-lg">Download</button>
                </div>
            </div>
        </form>
    </div>
</div>