<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Prato Aberto - Editor Vigências Tipo de Alimentação</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/v4-shims.css">,
    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Objetos da tabela */
        .row {
            margin-top: 40px;
            padding: 0 10px;
        }

        .forms {
            margin-top: 0px;
            padding-top: 10px;
        }

        .input-form {
            display: inline-flex;
        }

        .container {
            width: 90%;
        }

        .clickable {
            cursor: pointer;
        }

        .panel-heading div {
            margin-top: -18px;
            font-size: 15px;
        }

        .panel-body {
            display: none;
        }

        .table-responsive {
            height: 500px;
            overflow-y: auto;
            overflow-x: auto;
        }

        .panel-heading div span {
            margin-left: 5px;
        }

        .table>tbody>tr>th,
        .table>tfoot>tr>th {
            font-size: 10px;
        }

        .table>tbody>tr>td,
        .table>tfoot>tr>td {
            vertical-align: inherit;
        }

        .navbar-nav {
            margin-top: 8px;
            padding-left: 10px;
            padding-right: 15px;
        }

        thead th {
            position: sticky;
            position: -webkit-sticky;
            top: 0;
            background: white;
            z-index: 10;
        }

        input#cod_eol,
        select#school_type,
        input#latitude,
        input#longitude {
            width: 125px;

        }

        input#school_name,
        input#address,
        input#neighbourhood,
        select#meals,
        select#ages {
            margin-left: -8px;
            width: 452px;
        }

        select#meals,
        select#ages {
            height: 120px;
        }

        label {
            text-align: right;
            padding: 0;
        }

        .col-sm-6 {
            padding-right: 11px;
        }

        .checkbox-form {
            height: 155px;
            overflow: auto;
            margin-left: -47px;
        }

        ul {
            list-style-type: none;
        }

        .ui-autocomplete {
            z-index: 2147483647;
        }

        textarea {
            width: 300px;
            height: 150px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/editor/pendencias_publicacoes">HOME</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row">
            <a type="button" class="btn btn-default " href="{{ referrer }}">
                <span class="glyphicon glyphicon-chevron-left"></span> VOLTAR PARA CARDÁPIOS
            </a>
            <button onclick='addSchool()' data-target="#modalAddSchoolForm" class="pull-right btn btn-primary">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span style="font-family: inherit">ADICIONAR VIGÊNCIA TIPO DE ALIMENTAÇÃO</span>
            </button>
        </div>
        <div id='email_user'>
        </div>
        <div style="padding: 15px 0">
            <h3>Prato Aberto - Listagem de Vigências</h3>
        </div>
        <div class="panel panel-default">
            <form method="get" action="/editor/vigencias_tipo_alimentacao">
                <div class="row" style="margin-top: 15px">
                    <div class="col-sm-4 col-xs-12">
                        <label for="nome">Nome da Escola ou Código EOL</label>
                        <input value="{{request.args.get('nome') or ''}}" type="text" id="nome" name="nome"
                            class="form-control">
                    </div>
                </div>
                <div class="row" style="padding-bottom: 15px; margin-top: 15px">
                    <div class="col-12">
                        <div class="col-sm-2 col-sm-offset-10">
                            <a
                                href="/editor/vigencias_tipo_alimentacao?nome=&tipo_unidade=">
                                <button type="button" class="btn btn-default">LIMPAR</button>
                                <button type="submit" class="pull-right btn btn-success">FILTRAR</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row main" style="padding-top: 30px;">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h2 class="panel-title">Vigências de tipo de alimentação</h2>
                </div>
                <div class="table-responsive">
                    <div>
                        <table class="table table-bordered table-hover table-striped" id="task-table">
                            <thead>
                                <tr>
                                    <th style="word-wrap: break-word;"></th>
                                    <th style="word-wrap: break-word;">CODIGO EOL</th>
                                    <th style="word-wrap: break-word;">ESCOLA</th>
                                    <th style="word-wrap: break-word;">DATA CRIACAO</th>
                                    <th style="word-wrap: break-word;min-width: 90px;max-width: 150px;">DATA INICIO</th>
                                    <th style="word-wrap: break-word;">DATA FIM</th>
                                    <th style="word-wrap: break-word;min-width: 150px;max-width: 150px;">REFEIÇÕES</th>
                                    <th style="word-wrap: break-word;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for vigencia in vigencias_tipo_alimentacao %}
                                <tr class="item">
                                    <td><a class="btn btn-info" onclick='editRow({{ vigencia["_id"] }})' href="#"
                                            data-toggle="modal"
                                            data-target="#modalAddSchoolForm{{ vigencia['_id'] }}"><i
                                                class="fas fa-edit"></i></a></td>
                                    <td class="escola_id">{{ vigencia['escola_id'] }}</td>
                                    <td class="escola">{{ vigencia['escola'] }}</td>
                                    <td class="data_criacao">{{ vigencia['data_criacao'] }}</td>
                                    <td class="data_inicio">{{ vigencia['data_inicio'] }}</td>
                                    <td class="data_fim">{{ vigencia['data_fim'] }}</td>
                                    <td class="refeicoes">
                                        {% for item in vigencia['refeicoes'] %}
                                        {{ item }},
                                        {% endfor %}
                                    </td>
                                    <td><a class="btn btn-danger" data-toggle="modal"
                                            data-target="#exampleModal{{vigencia['_id']['$oid']}}" href="#"
                                            data-target="#xml_form"><i class="fas fa-trash-alt"></i></a></td>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal{{vigencia['_id']['$oid']}}" tabindex="-1"
                                        role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Exclusão de vigência
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Tem certeza que deseja excluir essa vigência?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        id="{{vigencia['_id']['$oid']}}"
                                                        data-dismiss="modal">Fechar</button>
                                                    <a href="#" onclick="deleteSpecialUnit('{{ vigencia['_id']['$oid'] }}')" type="button" class="btn btn-danger">
                                                        Excluir
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <footer class="container-fluid text-center">
            <br>
            <p><a href="http://pratoaberto.sme.prefeitura.sp.gov.br/"
                    title="Projeto Prato Aberto">http://pratoaberto.sme.prefeitura.sp.gov.br/</a>
            </p>
            <table id="lista-modificacoes">
                <tbody style="display:none">
            </table>
        </footer>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class=flashes>
            {% for category, message in messages %}
            <li id="mensagem" class="{{ category }} hidden">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
    <div class="modal fade" id="modalAddSchoolForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 130%">
                <div class="modal-header text-center">
                    {% if form.identifier.data %}
                    <h4 class="modal-title w-100 pull-left font-weight-bold">Editar vigência</h4>
                    {% endif %}
                    {% if not form.identifier.data %}
                    <h4 class="modal-title w-100 pull-left font-weight-bold">Adicionar vigência</h4>
                    {% endif %}
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% if form.identifier.data %}
                <form method="post" action="/editor/vigencias_tipo_alimentacao/{{ form.identifier.data }}?openModal=true">
                    {% else %}
                    <form method="post" action="/editor/vigencias_tipo_alimentacao?openModal=true">
                        {% endif %}
                    </form>
                    <form method=post action="/editor/adicionar_vigencia_tipo_alimentacao">
                        <dl>
                            <div>
                                <div class="row forms">
                                    <div style="display: none">
                                        <label>{{ form.identifier.label }}</label>
                                        <span>{{ form.identifier }}</span>
                                    </div>
                                    <div class="col-sm-offset-2 col-sm-8 col-xs-12">
                                        {{ form.school_id.label }}
                                        <div>{{ form.school_id }}</div>
                                    </div>
                                </div>
                                <div class="row forms">
                                    <div class="col-sm-offset-2 col-sm-4 col-xs-12">
                                        {{form.initial_date.label}}
                                        <div>
                                            {{form.initial_date}}
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-xs-12">
                                        {{form.end_date.label}}
                                        <div>
                                            {{form.end_date}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row forms">
                                    <div class="col-xs-12">
                                        <label class="col-sm-3 col-xs-12">{{ form.meals.label }}</label>
                                        <span class="checkbox-form col-sm-9 col-xs-12">{{ form.meals }}</span>
                                    </div>
                                </div>
                            </div>
                        </dl>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">FECHAR</button>
                            <button type="submit" class="btn btn-primary">SALVAR</button>
                        </div>
                    </form>
                </form>
            </div>
        </div>

    </div>

    <script>
        function addSchool() {
            if (window.location.href.includes('vigencias_tipo_alimentacao/')) {
                window.location.href = '/editor/vigencias_tipo_alimentacao?openModal=true';
            } else {
                $('#modalAddSchoolForm').modal('show');
            }
        }
    </script>

    <!-- Edita escola -->
    <script>
        function editRow(id) {
            window.location.href = '/editor/vigencias_tipo_alimentacao/' + id.$oid + '?openModal=true';
        }


    </script>
    <script>
        function deleteSpecialUnit(vigenciaId) {
            $.ajax({
                type: 'DELETE',
                url: '/editor/excluir_vigencia_tipo_alimentacao/' + vigenciaId,
                contentType: 'application/json',
                //dataType: 'json',
                success: function (data, textStatus, jqXHR) {
                    location.reload();
                }
            });
        }
    </script>

    <!-- Pop erro -->
    <script>
        if ($('#mensagem').length) {
            window.alert($('#mensagem').text());
        }

    </script>


    <script>
        jQuery(function () {
            jQuery('.item').each(function () {
                jQuery(this).click(function () {
                    jQuery('.item').removeClass('danger');
                    jQuery(this).addClass('danger');
                });
            });
        });
    </script>
    <script>
        $(window).on('load', function () {
            if (location.href.includes('openModal=true')) {
                $('#modalAddSchoolForm').modal('show');
            }
        });
    </script>

</body>

</html>
